<div class='sidebaritem' id='headshot'>
	<img class='img img-responsive' src='/img/me.jpeg' width='350'/>
</div>

<div class='sidebaritem' id='affiliations'>
	<div class='sidebarheader'>Affiliations</div>
	<div><a target='_blank' href='http://brown.edu'>Brown University</a></div>
	<div><a target='_blank' href='http://cs.brown.edu'>Computer Science Department</a></div>
	<div><a target='_blank' href='http://visual.cs.brown.edu'>Brown Visual Computing</a></div>
</div>

<div class='sidebaritem' id='contactinfo'>
	<div class='sidebarheader'>Contact Information</div>
	<div>xianghao_xu@brown.edu</div>
	<div>CIT, Room 443</div>
	<div>115 Waterman Street</div>
	<div>Providence, RI 02912</div>
	<a target='_blank' href='misc/cv.pdf' style='text-decoration:none'>
		  <img src='/img/icons/cv.png' width=32px style='vertical-align:middle'>
	</a>
</div>
